@header

<!-- Sidebar -->
<div class="sidebar pure-u-1 pure-u-md-1-4">
<div class="sidebar_content">

<div style="padding: 0.25em; background: @app.settings.accent_foreground;"></div>
<h1 class="blog_title"><a href="/">@app.settings.blog_title</a></h1>
<p class="blog_desc">@{ app.as_html(app.settings.blog_description) }</p>

<form class="search pure-form" method="post" action="/searchresults">
	<input class="search_box pure-input-rounded" style="width: 100%;" type="text" name="search" placeholder="Search..." value="@query"><br/><br/>
</form>

</div>
</div>

<div class="content pure-u-1 pure-u-md-3-4">

@if app.is_admin
<div id="admin_controls">
<a class="button-success pure-button" href="/newpost">New Post</a>
<a class="pure-button" href="/settings">Admin</a>
<a class="button-error pure-button" href="/logout">Logout</a>
</div>
@end

<!-- Posts -->
<div id="posts">

@if rel_post.len>=1
	<h3>Found @rel_post.len result(s) related to '@query'</h3>
@else
	<h3>No results found for '@query'.</h3>
@end

@for post in rel_post
<div class="blog_post">
	
	<div class="post_header">
	
	<h2 class="post_title"> <a href="/view/post/@post.id"> @post.title </a> </h2>
	@if app.is_admin
	<span class="post_actions"><a href="/delete/post/@post.id" style="color: rgb(202, 60, 60);">Delete</a> | <a href="/edit/post/@post.id">Edit</a></span>
	@end
	<div class="post_meta"><i>@post.format_date()</i></div>
	
	</div>
	
	<div class="post_content">@post.body</div>
	<div class="post_footer"></div>
	
</div>
@end

</div>

</div>

@footer
